* {
    font-family: 'Didact Gothic', sans-serif;
}

body{
    font-family: 'Didact Gothic', sans-serif;
}

header {
    font-family: 'Didact Gothic', sans-serif;
}

nav {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    z-index: 3;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-link {
    list-style: none;
}

.s1 {
    background-image: url('https://github.com/cgovier/My-Curriculum-Vitae/blob/master/img%2Fchris.jpg');
    background-size: cover;
}

.section h1 {

}

footer {
    font-family: 'Didact Gothic', sans-serif;
}

#social-icons {
    font-family: 'Didact Gothic', sans-serif;
}
